<div class="footer">
  <div class="footer-links">
    <a href="https://www.visitmalta.com/en/home"><i class="fab fa-github"></i></a>
    <a href="https://www.grecevacances.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.ordredemaltefrance.org/organisation/histoire.html"><i class="fab fa-facebook"></i></a>
    <a href="https://www.zoobeauval.com/les-animaux/en-vedette/koalas"><i class="fab fa-twitter"></i></a>
    <a href="https://www.angrybirds.com/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Bichon
  </div>
</div>
